@import "tailwindcss";

body{
    font-family: "Elms Sans", sans-serif;
    margin: o auto;
    max-width: 1440px;
    @apply bg-gray-950 
}

.logoFont{
    font-family: "Playfair Display", serif;
}

.loading-dots .dot {
    opacity: 0;
    animation: dotSequence 1.5s infinite steps(1);
  }
  
  .loading-dots .dot:nth-child(1) {
    animation-delay: 0s;
  }
  .loading-dots .dot:nth-child(2) {
    animation-delay: 0.3s;
  }
  .loading-dots .dot:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  @keyframes dotSequence {
    0% { opacity: 0; }
    10% { opacity: 1; }  /* dot shows */
    20% { opacity: 0; }  /* dot hides */
    100% { opacity: 0; }
  }